# data

In [1]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('export-sales-report-20250202.csv')
data.head()

,ResellerOrderId,ProductId,BuyerName,BuyerId,ProductName,UnitName,ResponsibleUserName,ProductSubCategoryName,ProductCategoryName,ProductTypeName,...,Vat,Price,SellType,CreateDate,PersianDate,PersianYear,PersianMonth,PersianMonthName,ColorId,SizeId
0,18941,5132,هتل طوبی,3603,سیب زمینی متوسط دست چین کیلویی,کیلو,سوگل تاجیک,پیاز و سیب زمینی,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,3800000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
1,18941,9268,هتل طوبی,3603,کدو سبز ( مسمایی ) دستچین کیلویی,کیلو,سوگل تاجیک,صیفی جات,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,1600000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
2,18941,12377,هتل طوبی,3603,پرتقال تامسون دستچین کیلویی,کیلو,سوگل تاجیک,میوه تازه,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,3600000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
3,18941,12384,هتل طوبی,3603,خیار گلخانه ای دستچین کیلویی,کیلو,سوگل تاجیک,صیفی جات,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,1200000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
4,18941,12393,هتل طوبی,3603,قارچ دکمه ای سفید دستچین و تازه کیلویی,کیلو,سوگل تاجیک,قارچ,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,19500000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN

In [4]:
data.columns

Index(['ResellerOrderId', 'ProductId', 'BuyerName', 'BuyerId', 'ProductName',
       'UnitName', 'ResponsibleUserName', 'ProductSubCategoryName',
       'ProductCategoryName', 'ProductTypeName', 'ProductTypeId',
       'ProductBrandName', 'OrderStatusId', 'OrderStatus', 'TypeName',
       'LeadTime', 'Weight', 'Count', 'PriceWithoutVat', 'Vat', 'Price',
       'SellType', 'CreateDate', 'PersianDate', 'PersianYear', 'PersianMonth',
       'PersianMonthName', 'ColorId', 'SizeId'],
      dtype='object')

## dataset of products

In [3]:
coulmns = ['ProductId', 'ProductName']
product_df = data[coulmns]
product_df.head()

   ProductId                             ProductName
0       5132          سیب زمینی متوسط دست چین کیلویی
1       9268        کدو سبز ( مسمایی ) دستچین کیلویی
2      12377             پرتقال تامسون دستچین کیلویی
3      12384            خیار گلخانه ای دستچین کیلویی
4      12393  قارچ دکمه ای سفید دستچین و تازه کیلویی

## dataset of users and orders

In [6]:
coulmns_2 = ['BuyerId', 'ProductId', 'Count']
orders_df = data[coulmns_2]
orders_df.head()

   BuyerId  ProductId  Count
0     3603       5132   20.0
1     3603       9268    5.0
2     3603      12377   20.0
3     3603      12384    4.0
4     3603      12393   15.0

# user input

In [8]:
userInput = [
            {'ProductName':'سیب زمینی متوسط دست چین کیلویی', 'Count':18},
            {'ProductName':'لیمو ترش سنگی دستچین کیلویی', 'Count':6},
            {'ProductName':'کاهو رسمی دستچین کیلویی', 'Count':40},
            {'ProductName':"کلم بروکلی دستچین کیلویی", 'Count':5},
            {'ProductName':'قارچ دکمه ای سفید دستچین و تازه کیلویی', 'Count':10}
         ] 
inputorder = pd.DataFrame(userInput)
inputorder

                              ProductName  count
0          سیب زمینی متوسط دست چین کیلویی     18
1             لیمو ترش سنگی دستچین کیلویی      6
2                 کاهو رسمی دستچین کیلویی     40
3                کلم بروکلی دستچین کیلویی      5
4  قارچ دکمه ای سفید دستچین و تازه کیلویی     10

In [9]:
#Filtering out the product by ProductName
inputId = product_df[product_df['ProductName'].isin(inputorder['ProductName'].tolist())]
#Then merging it so we can get the  ProductId. It's implicitly merging it by ProductName.
inputproduct = pd.merge(inputId, inputorder)

#Final input dataframe
#If a product you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputproduct

      ProductId                             ProductName  count
0          5132          سیب زمینی متوسط دست چین کیلویی     18
1         12393  قارچ دکمه ای سفید دستچین و تازه کیلویی     10
2         12395                 کاهو رسمی دستچین کیلویی     40
3         12403             لیمو ترش سنگی دستچین کیلویی      6
4         12395                 کاهو رسمی دستچین کیلویی     40
...         ...                                     ...    ...
2677      11132                کلم بروکلی دستچین کیلویی      5
2678       5132          سیب زمینی متوسط دست چین کیلویی     18
2679      11132                کلم بروکلی دستچین کیلویی      5
2680      12393  قارچ دکمه ای سفید دستچین و تازه کیلویی     10
2681      12403             لیمو ترش سنگی دستچین کیلویی      6

[2682 rows x 3 columns]

## grouping users

In [10]:
#Filtering out users that have watched products that the input has watched and storing it
userSubset = orders_df[orders_df['ProductId'].isin(inputproduct['ProductId'].tolist())]
userSubset.head()

    BuyerId  ProductId  Count
0      3603       5132   20.0
4      3603      12393   15.0
5      3603      12395   13.0
22     5375      12403    6.0
24     5312      12395   40.0

In [12]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['BuyerId'])

### example

In [13]:
userSubsetGroup.get_group(3603)

C:\Users\BEFOYS-AI\AppData\Local\Temp\ipykernel_28992\832070270.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  userSubsetGroup.get_group(3603)

       BuyerId  ProductId  Count
0         3603       5132  20.00
4         3603      12393  15.00
5         3603      12395  13.00
83        3603      11132   3.00
205       3603       5132  25.00
...        ...        ...    ...
42814     3603      12395  10.45
43308     3603      12403   4.00
43309     3603      12393   8.00
43311     3603      12395  10.00
43313     3603      11132   3.00

[381 rows x 3 columns]

### sort the groups

In [14]:
#Sorting it so users with product most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [15]:
userSubsetGroup[0:3]

[((50,),
         BuyerId  ProductId  Count
  63          50      11132    5.0
  69          50      11132    9.0
  132         50      12403   15.0
  183         50       5132   30.0
  190         50      12403   10.0
  ...        ...        ...    ...
  42930       50      12403   14.5
  43196       50       5132   50.0
  43200       50      11132    8.0
  43203       50      12393    5.0
  43206       50      12403   20.0

  [494 rows x 3 columns]),
 ((3603,),
         BuyerId  ProductId  Count
  0         3603       5132  20.00
  4         3603      12393  15.00
  5         3603      12395  13.00
  83        3603      11132   3.00
  205       3603       5132  25.00
  ...        ...        ...    ...
  42814     3603      12395  10.45
  43308     3603      12403   4.00
  43309     3603      12393   8.00
  43311     3603      12395  10.00
  43313     3603      11132   3.00

  [381 rows x 3 columns]),
 ((5312,),
         BuyerId  ProductId  Count
  24        5312      12395   40.0
  92        5312      12403   18.0
  837       5312      11132    0.0
  838       5312      12393    6.0
  840       5312      12395   15.0
  ...        ...        ...    ...
  42844     5312      12403   22.6
  42846     5312      12393    8.0
  43015     5312      12403   11.0
  43016     5312      12393    6.0
  43283     5312      12393    3.0

  [354 rows x 3 columns])]

In [17]:
userSubsetGroup = userSubsetGroup[0:50]

In [20]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='ProductId')
    inputproduct = inputproduct.sort_values(by='ProductId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputproduct[inputproduct['ProductId'].isin(group['ProductId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['Count'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['Count'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

KeyError: 'Count'